<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Project name</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">

      <ul class="nav navbar-nav">
        <li><%= link_to 'Галерея', root_path %></li>
        <% if current_user %>
            <li><%= link_to 'Добавить', add_path %></li>
            <% if current_user.admin? %>
                <li><%= link_to 'Пользователи', users_path %></li>
            <% end %>
            <li><%= link_to 'Настройки', settings_path %></li>
        <% end %>
      </ul>

      <% if has_users %>
          <ul class="nav navbar-nav navbar-right">
            <% if logged_in? %>
                <li><%= link_to 'Выйти', logout_path, method: :delete %></li>
            <% else %>
                <li><%= link_to 'Войти', login_path %></li>
            <% end %>
          </ul>
      <% end %>
    </div>
  </div>
</nav>