<%= form_tag({action: :update}, {method: :put}) do %>

    <% @categories.each do |c| %>
        <div class='category-input'>
          <%= label_tag c.name, c.name, class: 'category-label' %>
          <%= text_field_tag c.name, cvalue_by_photo_id(c, @photo.id), class: 'form-control' if c.string? %>
          <%= text_area_tag c.name, cvalue_by_photo_id(c, @photo.id), class: 'form-control' if c.text? %>
          <%= check_box_tag c.name, '1', cvalue_by_photo_id(c, @photo.id) if c.bool? %>
        </div>
    <% end %>

    <%= submit_tag button_title, class: 'btn btn-primary', id: 'submit_save_categories' %>
<% end %>