<div class="h1-no-desc"><h1>Загрузка номер <%= @upload.id %></h1></div>

<div class="description">
  <p>Здесь находятся фотографии, загруженные вами <%= @upload.created_at.strftime('%Y-%m-%d %H:%M') %>.</p>
</div>

<div class="upload-links">
  <%= link_to 'Назад к Загрузкам', uploads_path %>
  <div>
    <%= link_to 'Удалить', @upload, method: :delete,
                data: {confirm: 'Удалить загрузку и все eе фотографии?'} %>
  </div>
  <% if Photo.nodesc_for_upload(@upload.id).count > 0 %>
      <%= link_to "Без описания #{Photo.nodesc_for_upload(@upload.id).count} изображений", nodesc_upload_path(@upload.id) %>
  <% end %>
</div>

<div class='gallery row'>
  <%= render partial: 'photos/photo', collection: @photos %>
</div>
