<div class="h1-no-desc"><h1>Загрузка номер <%= @upload.id %></h1></div>

<div class="description">
  <p>Здесь находятся фотографии, загруженные вами <%= @upload.created_at.strftime('%Y-%m-%d %H:%M') %>.</p>
</div>

<div class="upload-links">
  <%= link_to 'Назад к Загрузкам', uploads_path %>
  <div>
    <%= link_to 'Удалить', @upload, method: :delete,
              data: { confirm: 'Удалить загрузку и все eе фотографии?' } %>
  </div>
</div>

<div class='gallery row'>
  <%= render partial: 'photos/photo', collection: @photos %>
</div>
